@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap');

/* removed the margin around the whole html page */
* {
	box-sizing: border-box;
    margin: 0;
}

.header {
    color: rgb(168, 164, 164);
    font-family: 'Crimson Text', serif;
    font-size: large;
}

/* Aligned the written content in the center and using flex in the vertical orientation aligned the elements to space evenly */
.main-supporting {
    text-align: center;
    position: relative;
    z-index: 1000;
  
    font: 16px/1.4 system-ui, 'Montserrat';
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: large;
    width: 100%;
    min-width: 100%;
    height: 144.5rem;
    min-height: 144.5rem;    
}

/* Using the properties position and border align the div elements in a creative way  */
.box1 {
    min-width: 100%;
    min-height: 15rem;
    opacity: 0.7;
    border-left: 15rem solid rgb(255, 150, 66);
    position: absolute;
    z-index: 400;
}

.box2 {
    width: 15rem;
    min-width: 15rem;
    height: 15rem;
    min-height: 15rem;
    opacity: 0.7;
    border-bottom: 25rem solid rgb(18, 88, 184);
    position: absolute;
    z-index: 100;
    top: 11em;
}

.box3 {
    width: 15rem;
    min-width: 15rem;
    height: 18rem;
    min-height: 18rem;
    opacity: 0.7;
    border-bottom: 20rem solid rgb(92, 178, 87);
    position: absolute;
    z-index: 350;
    left: 8em;
    top: 8em;
    bottom: 17.5em;
}

.box4 {
    width: 8rem;
    min-width: 8rem;
    height: 6rem;
    min-height: 6rem;
    opacity: 0.7;
    border-bottom: 8rem solid rgb(255, 150, 66);
    position: absolute;
    border-top-right-radius: 100%;
    z-index: 300;
    left: 15em;
    top: 28em;
}

.box5 {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-bottom: 38rem solid white;
    background-color: white;
    position: absolute;
    z-index: 50;
}

.box6 {
    position: absolute;
    width: 212px;
    min-width: 212px;
    height: 100px;
    min-height: 100px;
    opacity: 0.7;
    box-sizing: content-box;
    z-index: 500;
}

.box6:before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 1.8em;
    left: 16.3em;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;
}

.box6:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 2.7em;
    left: 17.2em;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;

}


.box11 {
    width: 24rem;
    min-width: 24rem;
    height: 6rem;
    min-height: 6rem;
    opacity: 0.7;
    border-right: 23.6rem solid rgb(18, 88, 184);
    position: absolute;
    z-index: 400;
    top: 36em;
    right: 0;
}

.box22 {
    width: 8rem;
    min-width: 8rem;
    height: 6.5rem;
    min-height: 6.5rem;
    opacity: 0.7;
    border-bottom: 6rem solid rgb(92, 178, 87);
    position: absolute;
    border-top-left-radius: 100%;
    z-index: 300;
    right: 20.5em;
    top: 35.5em;
}

.box33 {
    position: absolute;
    width: 212px;
    min-width: 212px;
    height: 100px;
    min-height: 100px;
    opacity: 0.7;
    box-sizing: content-box;
    z-index: 500;
    right: 21.3em;
}

.box33:before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40em;
    right: 0.1em;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;
}

.box33:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40.9em;
    right: 1em;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;

}

.box44 {
    width: 15rem;
    min-width: 15rem;
    height: 40rem;
    min-height: 40rem;
    opacity: 0.7;
    border-bottom: 32rem solid rgb(255, 150, 66);
    position: absolute;
    z-index: 350;
    right: 8.6em;
    top: 32.1em;
}

.box55 {
    width: 8.6rem;
    min-width: 8.6rem;
    height: 36.3rem;
    min-height: 36.3rem;
    opacity: 0.7;
    border-bottom: 8rem solid rgb(92, 178, 87);
    border-right: 10rem solid white;
    position: absolute;
    z-index: 350;
    right: 0;
    top: 36em;
}

.box66 {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-bottom: 38rem solid white;
    background-color: white;
    position: absolute;
    z-index: 50;
    top: 34rem;
}


.box111 {
    width: 8.6rem;
    min-width: 8.6rem;
    height: 18rem;
    min-height: 18rem;
    opacity: 0.7;
    border-bottom: 18rem solid rgb(255, 150, 66);
    border-right: 18rem solid rgb(18, 88, 184);
    position: absolute;
    z-index: 350;
    right: 0;
    top: 72em;
}

.box222 {
    width: 18rem;
    min-width: 18rem;
    height: 35.2rem;
    min-height: 35.2rem;
    opacity: 0.7;
    border-bottom: 19rem solid rgb(18, 88, 184);
    position: absolute;
    z-index: 400;
    top: 73em;
    right: 0;
}

.box333 {
    width: 18rem;
    min-width: 18rem;
    height: 15.2rem;
    min-height: 15.2rem;
    opacity: 0.7;
    border: 9rem solid rgb(92, 178, 87);
    border-radius: 50%;
    position: absolute;
    z-index: 400;
    top: 89.7em;
    right: 0;
}

.box444 {
    width: 10rem;
    min-width: 10rem;
    height: 26rem;
    min-height: 26rem;
    opacity: 0.2;
    border-bottom: 10rem solid rgb(18, 88, 184);
    position: absolute;
    z-index: 450;
    top: 73.5em;
    right: 8em;
}

.box555 {
    width: 18rem;
    min-width: 18rem;
    height: 18rem;
    min-height: 18rem;
    opacity: 0.7;
    border-bottom: 19.2rem solid rgb(255, 150, 66);
    position: absolute;
    border-top-left-radius: 200%;
    z-index: 300;
    right: 18em;
    top: 89em;
}

.box666 {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-bottom: 38rem solid white;
    background-color: white;
    position: absolute;
    z-index: 50;
    top: 71rem;
}

.box777 {
    position: absolute;
    width: 212px;
    min-width: 212px;
    height: 100px;
    min-height: 100px;
    box-sizing: content-box;
    opacity: 0.7;
    z-index: 500;
    right: 15.8em;
    top: 47em;
}

.box777:before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40em;
    right: 0.1em;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;

}

.box777:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40.9em;
    right: 1em;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;

}


.box1111 {
    width: 18rem;
    min-width: 18rem;
    height: 18rem;
    min-height: 18rem;
    opacity: 0.7;
    border-bottom: 8rem solid rgb(255, 150, 66);
    position: absolute;
    z-index: 300;
    left: 0;
    top: 98.2em;
}

.box2222 {
    width: 18rem;
    min-width: 18rem;
    height: 28.2rem;
    min-height: 28.2rem;
    opacity: 0.7;
    border-bottom:28.5rem solid rgb(92, 178, 87);
    border-bottom-right-radius: 25%;
    position: absolute;
    z-index: 400;
    top: 115.9em;
    left: 0;
}

.box3333 {
    width: 10rem;
    min-width: 10rem;
    height: 2.2rem;
    min-height: 2.2rem;
    opacity: 0.3;
    border: 4rem solid rgb(18, 88, 184);
    border-bottom-right-radius: 70%;
    position: absolute;
    z-index: 400;
    top: 136.4em;
    left: 8em;
}

.box4444 {
    width: 7rem;
    min-width: 7rem;
    height: 10rem;
    min-height: 10rem;
    opacity: 0.7;
    border-bottom: 10rem solid white;
    border-left: 10rem solid rgb(92, 178, 87);
    position: absolute;
    z-index: 450;
    left: 0;
    top: 115.9em;
}

.box5555 {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-bottom: 35.4rem solid white;
    background-color: white;
    position: absolute;
    z-index: 50;
    top: 109rem;
}

.box6666 {
    position: absolute;
    width: 212px;
    min-width: 212px;
    height: 100px;
    min-height: 100px;
    opacity: 0.7;
    box-sizing: content-box;
    z-index: 500;
    left: 7em;
    top: 73.8em;
}

.box6666:before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40em;
    right: 0.1em;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;
}

.box6666:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    opacity: 0.7;
    top: 40.9em;
    right: 1em;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 0.3rem solid rgb(168, 164, 164);
    border-radius: 50%;
    z-index: 500;
} 

